{% extends 'base/base.html' %}

{% block title %}همه دسته بندی ها | پنل مدیریت{% endblock %}



{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {% include 'admin/menu.html' %}
            </div>
            <div class="col-lg-9">
                <div class="grid-plus border">
                    <h1> همه دسته بندی ها</h1>

                    {% include 'inc/msg.html' %}

                    <table class="table ">
                        <thead class="table-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">عنوان</th>
                            <th scope="col">نام لاتین</th>
                            <th scope="col">قیمت</th>
                            <th scope="col">عملیات</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cat in category %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ cat.name }}</td>
                                <td>{{ cat.name_lotin }}</td>
                                <td>{{ cat.price }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm" role="group"
                                         aria-label="Basic mixed styles example">

                                            <a href="{{ url_for('admin.admin_category_delete', cat_id=cat.id) }}" type="button"
                                               class="btn btn-danger">حذف</a>
                                        <a href="{{ url_for('admin.admin_category_edit', cat_id=cat.id) }}" type="button"
                                           class="btn btn-success">ویرایش</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}



