<br>
    <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action " href="{{ url_for('admin.admin_create_post') }}">ایجاد پست</a>
        <a class="list-group-item list-group-item-action" href="{{ url_for('admin.admin_posts') }}">همه پست</a>
        <a class="list-group-item list-group-item-action " href="{{ url_for('admin.admin_category') }}">ایجاد دسته بندی</a>
        <a class="list-group-item list-group-item-action" href="{{ url_for('admin.admin_all_category') }}">همه دسته بندی ها</a>
        <a class="list-group-item list-group-item-action" href="">ایجاد فایل</a>
        <a class="list-group-item list-group-item-action" href="">همه فایل ها</a>
        <a class="list-group-item list-group-item-action" href="">مدیریت کاربران</a>
        <a class="list-group-item list-group-item-action" href="">مدیریت کامنت ها</a>

    </div>
