{% extends 'base/base.html' %}

{% block title %}همه مستندات{% endblock title %}



{% block content %}

    <div class="container">
        <br>
        <h1 style="font-size: 30px">همه مستندات</h1>
        <br>
        <div class="row">
            {% for cat in category %}
            <div class="col-lg-6" style="margin-bottom: 20px">
                <div class="card">
                    <h5 class="card-header">{{ cat.name_lotin }}</h5>
                    <div class="card-body">
                        <h5 class="card-title">{{ cat.name }}</h5>
                        <p class="card-text">{{ cat.content }}</p>
                        <a href="{{ cat.url }}" class="btn btn-primary">شروع</a>
                    </div>
                </div>
            </div>

            {% endfor %}
        {{ pagination.links }}
        </div>

    </div>

{% endblock content %}


